
.navbar {
    z-index: 10; 
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Anta", sans-serif;
    font-size:medium;
    font-weight: 500;
    font-style: normal;
    background-color: #989898; 
}

.navbar-nav .nav-item .nav-link:hover {
    color: rgb(225, 6, 0);
}

.navbar-nav .nav-item .nav-link {
    font-size: large;
}

